body {
  font-family: Arial, sans-serif;
  background-color: #fff4de; 
  color: #000;
  margin: 0;
  padding: 0;
}
 :root {
  --red: #d62828;
  --beige: #fff3d4;
  --dark: #2b2b2b;
  --text: #1a1a1a;
  --white: #fff;
  --radius: 12px;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: var(--red);
  margin-bottom: 10px;
}

.pagamento-container {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.informacoes-pagamento, .dados-cartao {
  background-color: #fff; 
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1 1 300px;
  max-width: 400px;
}

h2 {
  color: #d32f2f; 
  margin-top: 0;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input[type="submit"] {
  margin-top: 1.5rem;
  width: 100%;
  padding: 12px;
  background-color: #d32f2f; /* Vermelho */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

input[type="submit"]:hover {
  background-color: #b71c1c; /* Vermelho mais escuro */
}


/* FOOTER */
.site-footer {
  background: var(--dark);
  color: var(--white);
  margin-inline: auto;
  font-size: 14px;
}
.footer-grid {
  display:  flex ;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  align-items: start;
}
.footer-grid a {
  color: var(--white);
  text-decoration: none;

}

.footer-col a:hover {
  color: #D63C33;
}
